.error {
	color:red;
	text-align: center;
}

.selected{
	color: red;
}

.notSelected{
	color: black;
}

.tableHeader{
	background: orange;
}

.before {
	position: fixed;
	margin: 0% 0% 0% 2%;
}

.next {
	/*position: relative;
	left: 250px;*/
	float: right;
	margin-right: 5%;
}

.goToSortingPageButton{
	position: relative;
	margin:  5%;
}

fieldset{
	margin-right: 60px;
	width: 250px;
	margin:auto;
}

img{
	height: 100px;
	width: 100px;
}

table , th , td {
  	border: 1px solid black;
  	margin: auto;
}

.simpleTable {
	border: 0px;
}

td {
  text-align: center;
  vertical-align: middle;
}

body {
	text-align: center;
}

.logout {
	float: right;
	text-align: right;
	margin-right: 7%;
	margin-top: -5%;
}

.homePage {
	float: left;
	margin-left: 5%;
	text-align: left;
}

.playlistPage {
	float: right;
	margin-right: 11%;
	margin-top: -3%;
	text-align: center;
}

.songPage {
	position: fixed;
	margin: 27% 0% 10% 47%;
	text-align: center;
}

.playlistTable {
	float: left;
	margin-left: 30%;
	text-align: left;
}

.createPlaylistField {
	float: left;
	margin-left: 15%;
	margin-top: 20%;
	text-align: left;
}

.createSongField {
	float: left;
	position: fixed;
	margin: -6% 0% 0% 25%;
}

.sortPlayListPage{
	text-align: center;
}

.playlistToOrder{
	position: relative;
	margin: 0% 0% 0% 12%;
}


